@import "tailwindcss";

@theme {
  --color-teal: #50B096;
  --color-blue: #36869D;
  --color-green: #9CBE47;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-inter: 'Inter', sans-serif;
  --font-metro: 'Metrophobic', sans-serif;
}


.font-metro {
  font-family: var(--font-metro);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}


*:focus {
  outline: none;
  box-shadow: none;
}

html {
  scroll-behavior: smooth;
}
